html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-wrap: wrap;
}
.left-app-container {
  width: 30%;
  border: 1px solid #000;
}
.right-app-container {
  width: 70%;
  border: 1px solid #000;
  padding-left: 95px;
}
.header {
  display: flex;
}
.empty-header-section {
  width: 45%;
  height: 120px;
  background: #fff;
}
.nav-header-section {
  width: 50%;
  height: 120px;
  background: #f6f6fb;
}
#nav > ul {
  display: inline-flex;
}
#nav > ul > li {
  list-style: none;
  margin: 60px 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#nav > ul > li > a {
  text-decoration: none;
  color: #223975;
}
#nav > ul > li > a:hover {
  color: #2239758a;
}
.main-section-content {
  display: flex;
  margin-top: 50px;
}
.main-section > h2 {
  color: #223975;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
}
#main-section-header {
  color: #223975;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.top-stories-container {
  width: 52%;
  height: 320px;
  background-color: #eeeef4;
  justify-content: space-between;
  border-radius: 9px;
}
.top-stories-details {
  width: 75%;
  margin-top: 26%;
  padding: 10px 25px;
}
.top-story-title-link {
  color: #223975;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.top-story-author {
  color: #525c77;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.top-story-time {
  color: #223975;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.side-stories-container {
  width: 28%;
  height: 210px;
  background-color: #eeeef4;
  border-radius: 9px;
  margin-left: 2%;
  justify-content: space-between;
}
.side-stories-details {
  width: inherit;
  margin-top: 75px;
  display: inline-block;
  padding: 10px 25px;
}
.side-stories-title-link {
  color: #223975;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.side-stories-author {
  color: #525c77;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.side-stories-time {
  color: #223975;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
